@font-face {
  font-family: 'Agency';
  src: url(./components/fonts/Agency.TTF);
}

@font-face {
  font-family: 'Sudo';
  src: url(./components/fonts/SudoVariable.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./components/fonts/Roboto-Medium.ttf);
}

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #eeeeee;
}
nav{
  border-bottom: 1px solid rgba(124, 124, 124, 0.5)  ;
}
.alr{
  border-top: 1px solid rgba(124, 124, 124, 0.5)  ;
}
.header.scrolled .navList{
  color: black;
}

.header.scrolled button{
  color: black;

}
.banner, footer, .alr, .footl{
  background-image:url("./components/img/texture-black-v2.jpg");
}
.pagination a {
  padding: 10px;
  margin-inline: 2px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}
.pagination a:hover {
  background-color: #333;
  color: #fff;
}

.pagination .active a {
  background-color: #000000;
  color: #fff;
  cursor: default;
}