@font-face {
  font-family: 'Future';
  src: url(./components/fonts/Future.ttf);
}

@font-face {
  font-family: 'Sudo';
  src: url(./components/fonts/SudoVariable.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(./components/fonts/Roboto-Medium.ttf);
}

.logo{
  font-family: Roboto;
  letter-spacing: .5px;
}
nav{
  background-image: linear-gradient(180deg,#8c4b1d -50%,rgba(255,255,255,0) 95%);
}
.navList{
  font-family: Roboto;
}